<header class="p-top-header l-top-header">
  <div class="p-top-header__inner">
    <h1 class="p-top-header__logo">
      <%- include('../component/_c-logo',{modifier:''}) %>
    </h1>

    <!-- PC-グローバルナビ -->
    <nav class="p-top-header__nav">
      <%- include('../project/_p-global-nav-pc') %>
    </nav>

    <!-- ドロワーメニューボタン -->
    <button class="p-top-header__drawer" id="menu-button">
      <%- include('../component/_c-hamburger') %>
    </button>

    <!-- sp-グローバルナビ -->
    <div class="p-top-header__sp-nav js-drawer-menu">
      <%- include('../project/_p-global-nav-sp') %>
    </div>
  </div>
</header>

<!-- トップメインビュー -->
<div class="p-top-mv">
  <div class="p-top-mv__container">
    <img src="<%= topImagePath + imageFileName +'/'+ mvImageName %>" alt="<%= mvImageAlt %>">
  </div>
  <div class="p-top-mv__text">
    <div class="p-top-mv__title">
      <div>経営者の方に寄り添い、<br class="u-desktop">良きパートナーとして</div>
      <div><span>夢</span>と<span>理念</span>の<span>実現</span>を全力で<br class="u-desktop">バックアップします。</div>
    </div>
    <span class="p-top-mv__subtitle">sample accounting office</span>
  </div>
</div>
