<% imagePath = "./images/top/"; %>

<div class="p-card">
  <div class="p-card__icon">
    <img src="<%= imagePath + image %>" alt="<%= alt %>">
  </div>
  <p class="p-card__title"><%= title %></p>
  <p class="p-card__text"><%= text %><br><%= text2 %></p>
  <div class="p-card__btn">
    <%- include('../component/_c-btn-card',{text:'More', link:'#'}) %>
  </div>
</div>
