<div class="p-page-personal-top p-page-top">
  <p class="p-page-top__title"><%= pageTopText.pageTopTitle %></p>
  <div class="p-page-top__body">
    <div class="p-page-top__image">
      <img src="<%= subImagePath + imageFileName +'/'+ topImageName %>" alt="<%= topImageAlt %>">
    </div>
    <div class="p-page-top__text">
      <p class=""><%= pageTopText.pageTopText01 %><br><%= pageTopText.pageTopText02 %></p>
      <p class=""><%= pageTopText.pageTopText03 %></p>
      <p class=""><%= pageTopText.pageTopText04 %></p>
      <p class=""><%= pageTopText.pageTopText05 %><a href="corporate.html" class="aaa">こちら</a></p>
    </div>
  </div>
</div>