<div class="p-price-card">
  <div class="p-price-card__title"><%- price1.priceTitle %></div>
  <div class="p-price-card__text">
    <p class="p-price-card__price"><%- price1.price %></p>
    <p class="p-price-card__note"><%- price1.priceNote %></p>
  </div>
</div>
<div class="p-price-card">
  <div class="p-price-card__title"><%- price2.priceTitle %></div>
  <div class="p-price-card__text">
    <p class="p-price-card__price"><%- price2.price %></p>
    <p class="p-price-card__note"><%- price2.priceNote %></p>
  </div>
</div>
<div class="p-price-card">
  <div class="p-price-card__title"><%- price3.priceTitle %></div>
  <div class="p-price-card__text">
    <p class="p-price-card__price"><%- price3.price %></p>
    <p class="p-price-card__note"><%- price3.priceNote %></p>
  </div>
</div>