<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- ヘッダー -->
    <%- include('./common/_top-header') %>

    <!-- メインビュー -->
    <%- include('./project/_p-top-mv') %>

    <!-- コンセプトセクション -->
    <%- include('./project/_p-top-concept') %>
    
    <!-- 法人セクション -->
    <%- include('./project/_p-top-entrepreneurship') %>
    
    <!-- その他サポートセクション -->
    <%- include('./project/_p-top-other') %>
    
    <!-- フッター -->
    <%- include('./common/_footer') %>

  </body>
  </html>
  
  <% for (var i=0; i < 4; i++) { %>
  
  
  <% } %>
