<% 
  Path = "."
  assetsPath = "./dist";
  imagePath = "./dist/images";
  cssPath = "./dist/css";
  scriptPath = "./dist/js";
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- ヘッダー -->
    <%- include('./common/_top-header') %>

    <!-- メインビュー -->
    <%- include('./project/_p-top-mv') %>

    <!-- コンセプトセクション -->
    <%- include('./project/_p-top-concept') %>
    
    <!-- 法人セクション -->
    <%- include('./project/_p-top-entrepreneurship') %>
    



    <!-- その他サポートセクション -->
    <%- include('./project/_p-section-head',{modifier:'', title:'その他のサポート', en:'other support'}) %>











    
    <div class="space"></div>
    <%- include('./common/_footer') %>
  </body>
  </html>
  
  <% for (var i=0; i < 4; i++) { %>
  
  
  <% } %>
