<% 
  Path = "."
  assetsPath = "./assets";
  imagePath = "./assets/images";
  cssPath = "./assets/css";
  scriptPath = "./assets/scripts";
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>

    <%- include('./common/_top-header') %>
    <%- include('./component/_c-btn-contact',{text:'お問い合わせはこちら', link:'#', modifier:''}) %>
    <%- include('./component/_c-btn-white',{text:'More', link:'#'}) %>
    <%- include('./component/_c-btn-blue',{text:'More', link:'#'}) %>
    
    
    <% for (var i=0; i < 4; i++) { %>
    
    
    <% } %>
  </body>
</html>
