<% 
  Path = "."
  assetsPath = "./assets";
  imagePath = "./assets/images";
  cssPath = "./assets/css";
  scriptPath = "./assets/scripts";
%>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <!-- ヘッダー -->
    <%- include('./common/_top-header') %>

    <!-- メインビュー -->
    <%- include('./project/_p-top-mv') %>


    <!-- コンセプトセクション -->
    <%- include('./project/_p-section-head',{modifier:'', title:'私たちについて', en:'concept'}) %>
    <%- include('./component/_c-btn-blue',{text:'More', link:'#'}) %>



    <!-- 法人セクション -->
    <%- include('./project/_p-section-head',{modifier:'p-section-head--left', title:'法人設立をお考えの方', en:'entrepreneurship support'}) %>
    <%- include('./component/_c-btn-white',{text:'More', link:'#'}) %>



    <!-- その他サポートセクション -->
    <%- include('./project/_p-section-head',{modifier:'', title:'その他のサポート', en:'other support'}) %>











    
    <div class="space"></div>
    <%- include('./common/_footer') %>
  </body>
  </html>
  
  <% for (var i=0; i < 4; i++) { %>
  
  
  <% } %>
