<% const meta = {
  title : "Hanasan's Camp | PERSONAL",
  description : "個人のお客様へのページです",
  keyword : "",
  ogp_title : "Hanasan's Camp | PERSONAL",
  type : "page",
  ogp_url : "",
  ogp_image : "",
  ogp_sitename : "Hanasan's Camp | PERSONAL",
  ogp_description : "",
  favicon_href : "",
}; %>
<% path = "."; %>
<% subImagePath = "./images/"; %>
<% imageFileName = "personal"; %>

<%- include(path + '/common/_head', {meta: meta}) %>

<!-- ヘッダー + 下層ページメインビュー-->
<% mvImageName = "personal-mv.jpg"; %>
<% mvImageAlt = ""; %>
<% const subtitle = {
  subTitle : '個人のお客様',
  subTitleEn : 'personal',
} %>
<%- include(path + '/common/_sub-header', {subtitle: subtitle}) %>


<!-- 個人ページトップ -->
<% topImageName = "personal-img.jpg"; %>
<% topImageAlt = ""; %>
<% const pageTopText = {
  pageTopTitle : '事業規模に関わらず、個人事業主様のお手伝いをいたします！',
  pageTopText01 : '本業が忙しくなってきて、日々の経理業務に手が回らない。',
  pageTopText02 : 'いつも、確定申告の期限が迫ってきており、焦って申告書を作らないといけない。',
  pageTopText03 : 'そんなお悩みをお持ちの個人事業主様はぜひ一度、●●会計事務所へご相談ください！',
  pageTopText04 : '事業規模に関係なく、サポートさせていただきます。',
  pageTopText05 : '法人設立をお考えの方は',
} %>
<section class="p-personal-top l-personal-top">
  <div class="p-personal-top__inner l-inner">
    <%- include(path + '/project/_p-page-personal-top', {pageTopText: pageTopText}) %>
  </div>
</section>


<!-- 個人の料金セクション -->
<% priceText1 = "顧問契約料は事業規模や、年間の取引量、会計処理の複雑さなどを総合的に判断し、決定させていただきます。"; %>
<% priceText2 = "ご検討の際はお気軽にお問い合わせくださいませ。"; %>
<% const price1 = {
  priceTitle : '顧問料',
  price : '月額9,000円～',
  priceNote : '※上記は最低料金となります。',
} %>
<% const price2 = {
  priceTitle : '所得税確定申告書',
  priceTitle2 : '作成料',
  price : '30,000円～',
  priceNote : '※上記は最低料金となります。',
} %>
<% const price3 = {
  priceTitle : '消費税確定申告書',
  priceTitle2 : '作成料',
  price : '30,000円～',
  priceNote : '※上記は最低料金となります。',
} %>
<% const price4 = {
  priceTitle : '年末調整',
  price : '20,000円(5名まで)',
  priceNote : '※6名以上は上記料金+人数×1,000円となります。',
} %>

<% let price = {
  priceTitle : '顧問料', price : '月額9,000円～', priceNote : '※上記は最低料金となります。',
  } %>

<section class="p-personal-price l-personal-price">
  <div class="p-personal-price__inner l-inner">
    <%- include(path + '/project/_p-page-personal-price', {
      price1: price1,
      price2: price2,
      price3: price3,
      price4: price4,
    }) %>
  </div>
</section>


<!-- 個人のサービスセクション -->
<% serviceTopText1 = "●●会計事務所では以下のようなサービス、サポートをご提供しております。"; %>
<% serviceTopText2 = "以下は一例となりますので、記載のない内容でもお気軽にご相談くださいませ。"; %>
<% const serviceItems = [
  '節税の相談、ご提案',
  '融資についてのサポート',
  '数字の報告と分析',
  '決算前の利益予測',
  '金融機関を意識した決算書の作成',
  '提携している専門家のご紹介',
  '役員報酬シュミレーション',
  '経理の合理化のご提案',
]; %>
<% serviceFooterText = "その他、お客様のお悩みをヒヤリングさせていただき、最適なご提案をさせていただきます。"; %>

<section class="p-corporate-service l-corporate-service">
  <div class="p-corporate-service__inner l-inner">
    <%- include(path + '/project/_p-service', {serviceItems: serviceItems}) %>
  </div>
</section>





<!-- フッター -->
<%- include(path + '/common/_footer') %>


